*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url(/Images/Background.jpg);
    background-size: cover;

}

#drop{
    background-image:url(/Images/drop.svg);
    background-size:cover;
    position: absolute;
    height: 45px;
    width: 45px;
    left: 50vh;
    top: 50vh;    
}

button{
    height: 40px;
    width: 100px;
    background-color: #ffffff;
    border: 2px solid aqua;
}


