*{
    margin: 0;
    padding: 0;    
}
body{
    background-image:linear-gradient(#83a4d4,#b6fbff);
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

#welcome{
    position: relative;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Shadows into Light";
    margin:20vh 30vw 0vh 30vw;    
    text-align: center;
    color: rgba(245, 245, 245, 0.7);
    padding: 5px;
    box-shadow: 1px 1px 10px aquamarine;
    box-sizing: border-box;
    border-radius: 12px;   
    overflow: hidden; 
}

#start{
    position: absolute;
    height:30px;
    width:120px;
    top: 50vh;
    left: 46%;
    border: 1px solid aquamarine;
    border-color:none;
    background-color:white;
    outline-style: none;
    font-size: 14px;
    box-shadow: 2px 2px 20px rgba(23, 209, 172, 0.69);
    border-radius: 6px;
}

#start:active{
    transform: scale(1.1);
}

#container{
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  
}

#drop{
    background-image:url(../Images/drop.svg);
    background-size:cover;
    position: relative; 
    height: 45px;
    width: 45px;
    display: none;    
}

#fairy{
    background-image:url(../Images/Fairy1.png);
    background-size:cover;
    position: absolute;
    top: 20vh;
    left: 50%; 
    height: 200px;
    width: 200px;
    display: none;    
}

#isekai{
    position: absolute;
    height:150px;
    width:150px;
    top: 5vh;
    left: 57%;
    border: 1px solid aquamarine;
    border-color:none;
    background-color:rgba(0, 0, 0, 0.78);
    outline-style: none;
    font-size: 14px;
    box-shadow: 2px 2px 40px rgba(23, 209, 172, 0.69);
    border-radius: 50%;
    display: none;
    color: #ffffff;
    
}

#isekai:active{
    transform: scale(1.1);
}

#nemo{
    position: absolute;
    background-image: url(../Images/nemo.png);
    background-size:cover ;
    height: 20px;
    width: 40px;
    top:90vh;
    left: 10vw;
    display: none;

}

#gfish{
    position: absolute;
    background-image: url(../Images/g-fish.png);
    background-size:cover ;
    height: 40px;
    width: 46px;
    top:87vh;
    left: 80vw;
    display: none;
}

#whale{
    position: absolute;
    background-image: url(../Images/whale.png);
    background-size:cover ;
    height: 70px;
    width: 100px;
    top:84vh;
    left: 88vw;
    display: none;
}

#backgorund-Animation{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#backgorund-Animation li{
    position: absolute;
    list-style:none;
    font-family:"Shadows into Light" ;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 1px 1px 30px aquamarine;

}

#backgorund-Animation li:nth-child(1){
    left: 15vw;
    width: 66px;
    height: 66px;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.6);
}
#backgorund-Animation li:nth-child(2){
    left: 30vw;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
}
#backgorund-Animation li:nth-child(3){
    left: 45vw;
    width: 70px;
    height: 70px;
    font-size: 3.2rem;
    color: rgba(0, 0, 0, 0.6);
}
#backgorund-Animation li:nth-child(4){
    left: 60vw;
    width: 80px;
    height: 80px;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.6);
}
#backgorund-Animation li:nth-child(5){
    left: 75vw;
    width: 44px;
    height: 44px;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
}
#backgorund-Animation li:nth-child(6){
    left: 90vw;
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.6); 
}


